<table class="boil-ingredients">
  <thead>
    <tr>
      <th>Time</th><th>Ingredient</th>
    </tr>
  </thead>
  <tbody>
    <% brew_note.recipe.boil_ingredients.each do |boiled| %>
      <tr>
        <td><%= boiled.time.to_f.to_i %> <%= boiled.time.unit %></td>
        <td>
          <% if boiled.amount.type == "weight" %>
            <%= boiled.amount.to_oz.to_f.round(2) %> oz of
          <% else %>
            <%= boiled.amount.to_f.round(2) %> <%= boiled.amount.unit %> of
          <% end %>
          <%= boiled.name %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= form_for brew_note, url: "#{brew_note_url(brew_note.id)}?boil",
    remote: true, html: {id: "boil-note"} do |f| %>
  <h2>Boil Notes</h2>
  <p class="explainer">Top off the water to around 5 gallons, and heat it until it starts to boil</p>

  <label for="pre_boil">Pre Boil Volume (gallons)</label>
  <input type="text" id="pre_boil"
         name="brew_note[boil_note_attributes][pre_boil_volume_gallons]"
         value="<%= brew_note.boil_note.pre_boil_volume_gallons %>">

         <p class="explainer">Then, turn off the heat and add all of the liquid and dry malt extract. Stir thoroughly, then bring water back to a boil.</p>
         <p class="explainer">When the water reaches a boil again, add your <%= brew_note.recipe.boil_time.to_f.to_i %> minute boil additions and start the timer!</p>

         <p class="explainer">When the timer reaches 0, turn off the heat and start cooling.</p>

  <label for="post_boil">Post Boil Volume (gallons)</label>
  <input type="text" id="post_boil"
         name="brew_note[boil_note_attributes][post_boil_volume_gallons]"
         value="<%= brew_note.boil_note.post_boil_volume_gallons %>">

   <p class="explainer">Once the beer reaches around 80˚ F, move on to the next step</p>

  <input type="hidden" name="brew_note[boil_note_attributes][id]"
        value="<%= brew_note.boil_note.id %>">

  <%= f.submit "On to fermenting!" %>

<% end %>