<script type="application/json" id="bootstrapped_mash_notes_json_<%= brew_note.id %>">
<%= brew_note.mash_notes.to_json.html_safe %>

</script>
<h1><%= brew_note.created_at.to_datetime.strftime('%d/%m/%y %l:%M') %></h1>
<h2>Mash Notes</h2>

<div id="chart-div-<%= brew_note.id %>"></div>
<h2>Boil Notes</h2>

<p>Boil notes will go here</p>

<h2>Fermenting Notes</h2>
<p>Fermenting chart will go here</p>

<h2>Tasting Notes</h2>
<%= render partial: "tasting_notes/flavor_wheel", locals: {tasting_note: brew_note.tasting_notes.first} %>

<script>
  google.load("visualization", "1", {packages:["corechart"]});
  $(function(){
    var noteData = JSON.parse($("#bootstrapped_mash_notes_json_<%= brew_note.id %>").html());

    // parse noteData to be used by google's arrayToDataTable
    noteData = _.map(noteData, function(mash_note){
      return [mash_note.time, mash_note.temperature]
    });
    // filter out undefined points
    noteData = _.select(noteData, function(note){
      return note[0] != undefined && note[1] != undefined
    })

    //sort by time
    noteData = _.sortBy(noteData, function(note){
      return note[0]
    })
    // Add first row
    noteData.unshift(["Time", "Temperature"])

    var options = {
      title: 'Time vs. Temperature',
      hAxis: {title: 'Time (minutes)', minValue: 0, maxValue: 70},
      vAxis: {title: 'Temperature (Fahrenheit)', minValue: 100, maxValue: 200},
      legend: 'none',
      lineWidth: 1,
      animation: {duration: 250, easing: "linear"}
    };

    var chart = new google.visualization.ScatterChart(document.getElementById('chart-div-<%= brew_note.id %>'));
    animateChart(noteData, options, chart, 300)

  });

</script>