<%= form_for brew_note, url: "#{brew_note_url(brew_note.id)}?fermentation",
    html: {id: "fermentation-note"} do |f| %>

<h2>Fermentation Notes</h2>
<label for="fermenter_volume">Volume in Fermenter</label>
<input type="text" id="fermenter_volume"
       name="brew_note[fermentation_note_attributes][volume]"
       value="<%= brew_note.fermentation_note.volume %>">

<label for="og">Measured Original Gravity</label>
<input type="text" id="og"
       name="brew_note[fermentation_note_attributes][og]"
       value="<%= brew_note.fermentation_note.og %>">

<label for="ferm_body">Misc Notes</label>
<input type="text" id="ferm_body"
       name="brew_note[fermentation_note_attributes][body]"
       value="<%= brew_note.fermentation_note.body %>">

<input type="hidden" name="brew_note[fermentation_note_attributes][id]"
       value="<%= brew_note.fermentation_note.id %>">

  <%= f.submit "Done brewing! Set up reminders" %>

<% end %>