<h1><%= brew_note.created_at.to_datetime.strftime('%d/%m/%y %l:%M') %></h1>
<h2>Mash Notes</h2>
<%= render partial: "mash_notes/mash_chart", locals: { brew_note: brew_note } %>

<h2>Fermentation Notes</h2>
<%= render partial: "fermentation_checks/fermentation_chart",
           locals: { brew_note: brew_note} %>

<h2>General notes</h2>
<%= render partial: "high_level_notes", locals: { brew_note: brew_note } %>

<h2>Tasting Notes</h2>
<% if !brew_note.tasting_notes.empty? %>
  <% brew_note.tasting_notes.each do |tasting_note| %>
    <%= render partial: "tasting_notes/flavor_wheel",
               locals: {tasting_note: tasting_note} %>
  <% end %>
<% elsif current_user.brew_notes.include?(brew_note) %>
<%= link_to "Take some tasting notes!", new_brew_note_tasting_note_url(brew_note.id) %>
<% else %>
<p>No tasting notes entered for this brew note</p>
<% end %>
