<h1><%= brew_note.created_at.to_datetime.strftime('%d/%m/%y %l:%M') %></h1>
<h2>Mash Notes</h2>

<div id="chart-div-<%= brew_note.id %>"></div>
<h2>Boil Notes</h2>

<p>Boil notes will go here</p>

<h2>Fermenting Notes</h2>
<p>Fermenting chart will go here</p>

<h2>Tasting Notes</h2>
<% if brew_note.tasting_notes.first %>
  <%= render partial: "tasting_notes/flavor_wheel",
             locals: {tasting_note: brew_note.tasting_notes.first} %>
<% else %>
<p>Take some tasting notes!</p>
<% end %>
<script>
  $(function(){
    var noteData = <%= brew_note.mash_notes.to_json.html_safe %>;

    MashChart.init(noteData, "#chart-div-<%= brew_note.id %>")
  });

</script>