
<li class="brew-note group">
  <% if params[:recipe_id] %>
  <ul>
    <li>
      <a href="<%= brew_note_url(brew_note) %>" class="main-note-link"><i class="icon-long-arrow-left"></i> Brew note: <%= minimal_date(brew_note) %></a>
    </li>
  </ul>
  <ul class="group sub-note-ul">
    <li>
      <%= link_to "Left", brew_note, remote: true, class: "left",
          "data-id"=> brew_note.id %>
    </li>
    <li>
      <%= link_to "Right", brew_note, remote: true, class: "right",
          "data-id"=> brew_note.id %>
    </li>
  </ul>
  <% else %>

  <%= link_to "#{brew_note.recipe.name}: #{clean_date(brew_note)}", brew_note %>

  <% end %>
</li>