<h1><%= brew_note.created_at.to_datetime.strftime('%d/%m/%y %l:%M') %></h1>
<h2>Mash Notes</h2>
<%= render partial: "mash_notes/mash_chart", locals: { brew_note: brew_note } %>

<h2>Fermentation Notes</h2>
<%= render partial: "fermentation_checks/fermentation_chart",
           locals: { brew_note: brew_note} %>

<h2>General notes</h2>
<%= render partial: "high_level_notes", locals: { brew_note: brew_note } %>

<h2>Tasting Notes (click to expand)</h2>
<% if !brew_note.tasting_notes.empty? %>
  <ul id="brew-note-<%= brew_note.id %>-tasting-notes">
    <li id="displayed-note-<%= brew_note.id %>"></li>
    <%= render brew_note.tasting_notes %>
  </ul>

<% elsif current_user.brew_notes.include?(brew_note) %>
  <%= link_to "Take some tasting notes!", new_brew_note_tasting_note_url(brew_note.id) %>
<% else %>
  <p>No tasting notes entered for this brew note</p>
<% end %>

<script>
$(function(){

  $("#brew-note-<%= brew_note.id %>-tasting-notes").on("ajax:success", "li", function(event, data){
    $("#displayed-note-<%= brew_note.id %>").html(data)
    $(this).addClass("highlighted")
    $(this).siblings().removeClass("highlighted")
    $(window).off("resize","#displayed-note-<%= brew_note.id %>")
  })

})
</script>
