<div id="fermentation-note">
<h2>Fermentation Notes</h2>
<ul>
  <li>Volume in Fermenter (gallons):
    <%= round_or_nil(fermentation_note.volume_gallons, 2) %></li>
  <li>Measured Original Gravity: <%= fermentation_note.og %></li>
  <li>Measured Final Gravity: <%= fermentation_note.fg %></li>
  <li>General Note: <%= fermentation_note.body %>
</ul>
<% if current_user.brew_notes.include?(fermentation_note.brew_note) %>
<%= link_to "Edit fermentation notes",
            edit_fermentation_note_url(fermentation_note.id),
            remote: true, class: "edit-fermentation-note" %>
<% end %>
</div>