<tr id="editable-row-<%= fermentation_check.id %>">
<%= form_for fermentation_check, remote: true,
    html:{ class: "update-row", "data-id" => fermentation_check.id } do |f| %>
      <input type="hidden" name="_method" value="put">
      <td>
        <input type="text"
        name="fermentation_check[elapsed_time]"
        value="<%= fermentation_check.elapsed_time %>">
      </td>
      <td>
        <input type="text"
        name="fermentation_check[temperature]"
        value="<%= fermentation_check.temperature %>">
      </td>
      <td>
        <input type="text"
        name="fermentation_check[specific_gravity]"
        value="<%= fermentation_check.specific_gravity %>">
      </td>
      <td>
        <input type="text"
        name="fermentation_check[body]"
        value="<%= fermentation_check.body %>">
      </td>
      <td>
        <input type="submit" value="Add fermentation check">
      </td>
<% end %>
</tr>