<div id="fermentation-note">
<h2>Fermentation Notes</h2>
<ul>
  <li>Volume in Fermenter: <%= fermentation_note.volume %></li>
  <li>Measured Original Gravity: <%= fermentation_note.og %></li>
  <li>Measured Final Gravity: <%= fermentation_note.fg %></li>
  <li>General Note: <%= fermentation_note.body %>
</ul>

<%= link_to "Edit fermentation notes",
            edit_fermentation_note_url(fermentation_note.id),
            remote: true, class: "edit-fermentation-note" %>
</div>