<%= form_for brew_note, url: "#{brew_note_url(brew_note.id)}?mash",
    remote: true, html: {id: "mash-notes"} do |f| %>
  <% time = 60 %>
  <h2>Mash Notes</h2>
  <p class="explainer">Heat your water up to 162˚F. (Generally 1.25 qts per pound of grain).<p>
    <label for="mash_volume">Mash Volume (gallons)</label>
    <input type="text" name="brew_note[mash_volume_gallons]"
           value="<%= brew_note.mash_volume_gallons if brew_note.persisted? %>">

  <p class="explainer">Then, turn off the heat and mix in all of your crushed grains</p>
  <p class="explainer">fter you have thoroughly stirred the pot, start the timer at 60 minutes.</p>
  <p class="explainer">Record all of your information in the table below, and click the button when the timer reaches zero!</p>
  <p class="explainer">While you are waiting, heat around 1 gallon of water to a little over 170˚F</p>

  <table>
    <thead>
      <tr>
        <th>Time (minutes)</th><th>Temperature (˚F)</th><th>Comment</th>
      </tr>
    </thead>
    <tbody>
      <% 5.times do |n| %>
        <tr>
          <td>
            <input type="text"
             name="brew_note[mash_notes_attributes][<%= n %>][time]"
             value="<%= brew_note.mash_notes[n].time%>">
          </td>
          <td>
            <input type="text"
             name="brew_note[mash_notes_attributes][<%= n %>][temperature]"
             value="<%= brew_note.mash_notes[n].temperature %>">
          </td>
          <td>
            <input type="text"
             name="brew_note[mash_notes_attributes][<%= n %>][body]"
             value="<%= brew_note.mash_notes[n].body %>">
          </td>

        </tr>
        <input type="hidden"
         name="brew_note[mash_notes_attributes][<%= n %>][id]"
         value="<%= brew_note.mash_notes[n].id %>">
      <% end %>
    </tbody>
  </table>

  <%= f.submit "On to the sparge!" %>

<% end %>