<tr class="editable-row-<%= mash_note.id %>">
<%= form_for mash_note, remote: true,
    html:{ class: "update-row", "data-id" => mash_note.id } do |f| %>
      <input type="hidden" name="_method" value="put">
      <td>
        <input type="text"
        name="mash_note[time]"
        value="<%= mash_note.time %>"
        form="edit_mash_note_<%= mash_note.id %>">
      </td>
      <td>
        <input type="text"
        name="mash_note[temperature]"
        value="<%= mash_note.temperature %>"
        form="edit_mash_note_<%= mash_note.id %>">
      </td>
      <td>
        <input type="text"
        name="mash_note[body]"
        value="<%= mash_note.body %>"
        form="edit_mash_note_<%= mash_note.id %>">
      </td>
      <td>
        <input type="submit" value="Add mash note" class="button"
        form="edit_mash_note_<%= mash_note.id %>">
      </td>
      <td>
      </td>
<% end %>
</tr>