<h2>Fermentation Notes</h2>
<label for="fermenter_volume">Volume in Fermenter (gallons)</label>
<input type="text" id="fermenter_volume"
       name="brew_note[fermentation_note_attributes][volume_gallons]"
       value="<%= brew_note.fermentation_note.volume_gallons if brew_note.persisted? %>">

<label for="og">Measured Original Gravity</label>
<input type="text" id="og"
       name="brew_note[fermentation_note_attributes][og]"
       value="<%= brew_note.fermentation_note.og if brew_note.persisted? %>">

<label for="fg">Measured Final Gravity</label>
<input type="text" id="fg"
       name="brew_note[fermentation_note_attributes][fg]"
       value="<%= brew_note.fermentation_note.fg if brew_note.persisted? %>">

<label for="ferm_body">Misc Notes</label>
<input type="text" id="ferm_body"
       name="brew_note[fermentation_note_attributes][body]"
       value="<%= brew_note.fermentation_note.body if brew_note.persisted? %>">

<% if brew_note.persisted? %>
<input type="hidden" name="brew_note[fermentation_note_attributes][id]"
       value="<%= brew_note.fermentation_note.id %>">
<% end %>

<%= render partial: "nested_fermentation_checks", locals: { brew_note: brew_note } %>