<% if brew_note.persisted? %>
<% mash_note_num = brew_note.mash_notes.length %>
<% else %>
<% mash_note_num = 5 %>
<% end %>

<% time = 60 %>
<h2>Mash Notes</h2>
<label for="mash_volume">Mash Volume</label>
<input type="text" name="brew_note[mash_volume]" 
       value="<%= brew_note.mash_volume if brew_note.persisted? %>">

<table>
  <thead>
    <tr>
      <th>Time</th><th>Temperature</th><th>Comment</th>
    </tr>
  </thead>
  <tbody>

<% mash_note_num.times do |n| %>
  <tr>
    <td>
      <input type="text" name="brew_note[mash_notes_attributes][<%= n %>][time]"
             value="<%= brew_note.persisted? ? brew_note.mash_notes[n].time : time - n*15 %>">
    </td>
    <td>
      <input type="text"
             name="brew_note[mash_notes_attributes][<%= n %>][temperature]"
             value="<%= brew_note.mash_notes[n].temperature if brew_note.persisted? %>">
    </td>
    <td>
      <input type="text"
             name="brew_note[mash_notes_attributes][<%= n %>][body]"
             value="<%= brew_note.mash_notes[n].body if brew_note.persisted? %>">
    </td>

  </tr>
  <% if brew_note.persisted? %>
  <input type="hidden" name="brew_note[mash_notes_attributes][<%= n %>][id]"
         value="<%= brew_note.mash_notes[n].id %>">
  <% end %>
<% end %>
</tbody>
</table>