<%= form_for brew_note, url: "#{brew_note_url(brew_note.id)}?sparge",
    remote: true, html: {id: "sparge-note"} do |f| %>
  <h2>Sparge Notes</h2>
  <p class="directions">Remove your grains from the mash water by pouring through a strainer/grain bag into your sparge water.</p>
  <p class="directions">Dunk the grains into the mixture a couple of times, and let it drain.</p>
  <p class="directions">Record your actual sparge volume and temperature, then click through to the next step!</p>

  <label for="sparge_volume">Sparge Volume (gallons)</label>
  <input type="text" id="sparge_volume"
         name="brew_note[sparge_note_attributes][volume_gallons]"
         value="<%= brew_note.sparge_note.volume_gallons %>">

  <label for="sparge_temperature">Sparge Temperature (˚F)</label>
  <input type="text" id="sparge_temperature"
         name="brew_note[sparge_note_attributes][temperature]"
         value="<%= brew_note.sparge_note.temperature %>">

  <label for="sparge_body">Misc. Sparge Note</label>
  <textarea id="sparge_body"
            name="brew_note[sparge_note_attributes][body]"
            ><%= brew_note.sparge_note.body %></textarea>

  <input type="hidden" name="brew_note[sparge_note_attributes][id]"
        value="<%= brew_note.sparge_note.id %>">

  <%= f.submit "On to the boil!" %>

<% end %>