<% if params[:recipe_id] %>
<% context = Recipe.find(params[:recipe_id]).name %>
<% recipe = true %>
<% else %>
<% context = current_user.username %>
<% recipe = false %>
<% end %>
<div id="brew-notes-index">
<% if recipe %>
<section class="brew-notes-list">
<%= link_to "Back to recipe", recipe_url(params[:recipe_id]), class: "recipe-link" %>
  <ul>
    <%= render @brew_notes %>
  </ul>
</section>

<section class="left-note">

</section>

<section class="right-note">

</section>

<% else %>


  <h1>BREW NOTES INDEX for <%= context %></h1>
  <% if params[:recipe_id] %>
    <%= link_to "Back to recipe", recipe_url(params[:recipe_id]), class: "recipe-link" %>
  <% end %>
  <h2 class="brew-notes-header">Brew notes</h2>
  <ul>
    <% if @brew_notes.empty? %>
      <li>No brew notes. Brew this recipe!</li>
    <% else %>
      <%= render @brew_notes %>
    <% end %>
  </ul>

<% end %>
</div>

<script>

$(function(){

  $(".left").on("ajax:success", function(event, data){
    $(".left-note").html(data);
    $(event.target).parent().parent().parent().addClass("selected-left");
    $(event.target).parent().parent().parent().
                    siblings().removeClass("selected-left");
    $(event.target).removeClass("ajax-waiting");
  });
  
  $(".left, .right").on("ajax:before", function(event){
    $(even.target).addClass("ajax-waiting");
  })

  $(".right").on("ajax:success", function(event, data){
    $(".right-note").html(data);
    $(event.target).parent().parent().parent().addClass("selected-right");
    $(event.target).parent().parent().parent().
                    siblings().removeClass("selected-right");
    $(event.target).removeClass("ajax-waiting");
  });

})

</script>