<div id="show-brew-note">

<h1>BREW NOTE FOR <%= link_to @brew_note.recipe.name, @brew_note.recipe %></h1>
<%= link_to "Compare Notes", recipe_brew_notes_url(@brew_note.recipe_id),
            class: "compare-notes" %>

<h2>General Notes</h2>
<p><%= @brew_note.body %></p>

<h2>Mash Notes</h2>

<div class="editable-table-container">
  <%= render "mash_notes_table" %>
</div>

<h2>Sparge Notes</h2>
<ul>
  <li>Sparge Volume: <%= @brew_note.sparge_note.volume %></li>
  <li>Sparge Temperature: <%= @brew_note.sparge_note.temperature %></li>
  <li>Misc Sparge Notes: <%= @brew_note.sparge_note.body %>
</ul>

<h2>Boil Notes</h2>
<ul>
  <li>Pre Boil Volume: <%= @brew_note.boil_note.pre_boil_volume %></li>
  <li>Post Boil Volume: <%= @brew_note.boil_note.post_boil_volume %></li>
</ul>

<div class="editable-ul-container">
<%= render partial: "fermentation_note",
           locals: { fermentation_note: @brew_note.fermentation_note } %>
</div>


<div class="editable-table-container">

<%= render "fermentation_checks" %>

</div>

<h2>Bottling Notes</h2>
<ul>
  <li>Amount bottled: <%= @brew_note.bottling_note.volume %></li>
  <li>Priming Sugar Type: <%= @brew_note.bottling_note.priming_sugar_type %></li>
  <li>Priming Sugar Amount: <%= @brew_note.bottling_note.priming_sugar_amount %></li>
  <li>General Note: <%= @brew_note.bottling_note.body %></li>
</ul>

<% if current_user.brew_notes.include?(@brew_note) %>
<%= link_to "Add tasting note", new_brew_note_tasting_note_url(@brew_note.id) %>
<% end %>

<% if @brew_note.beer_photo_file_name %>
  <h2>Photo</h2>
  <figure class="beer-photo">
    <%= image_tag @brew_note.beer_photo.url(:big) %>
  </figure>
<% end %>

<% if current_user.brew_notes.include?(@brew_note) %>
<%= link_to "Edit Brew Note", edit_brew_note_url(@brew_note), id: "edit-note" %>
<% end %>
</div>


<script>

$(function(){
  EditableTable.init();

  $(".editable-ul-container").on("ajax:success", ".edit-fermentation-note",function(event, data){
    console.log(data);
    $(".editable-ul-container").html(data);
  });

  $(".editable-ul-container").on("ajax:success", "#fermentation-note", function(event, data){
    $(".editable-ul-container").html(data);
  });

})

</script>