<div id="show-brew-note">

<h1>BREW NOTE FOR <%= link_to @brew_note.recipe.name, @brew_note.recipe, class: "inline-link" %></h1>
<%= link_to "Compare Notes", recipe_brew_notes_url(@brew_note.recipe_id),
            class: "button" %>

<% if current_user.brew_notes.include?(@brew_note) %>

<p class="explainer">Here are all of the notes you took on brew day.</p>
<p class="explainer">You can edit any part of this page, and add more notes for the next steps of your brew</p>

<p class="explainer">Check out the <%= link_to "fermentation checks", brew_note_url(@brew_note, anchor: "fermentation_checks") %>, <%= link_to "bottling notes", brew_note_url(@brew_note, anchor: "bottling_notes") %>, and <%= link_to "tasting notes", brew_note_url(@brew_note, anchor: "tasting_notes") %> sections of this page to improve your notes even more!</p>

<p class="explainer">Or, click the 'Compare Notes' button above to compare this brew with the other times you've brewed this beer</p>
<% else %>
<p class="explainer">Here are the detailed noets for this brew.</p>
<p class="explainer">To compare with other brews, click on the 'Compare Notes' button above</p>
<% end %>

<section class="notes-section">
<h2>General Notes</h2>
<p><%= @brew_note.body %></p>
</section>

<section class="notes-section">
<h2>Mash Notes</h2>

<div class="editable-table-container">
  <%= render "mash_notes_table" %>
</div>
</section>

<section class="notes-section">
<h2>Sparge Notes</h2>
<ul>
  <li>Sparge Volume (gallons): <%= round_or_nil(@brew_note.sparge_note.volume_gallons, 2) %></li>
  <li>Sparge Temperature: <%= @brew_note.sparge_note.temperature %></li>
  <li>Misc Sparge Notes: <%= @brew_note.sparge_note.body %>
</ul>
</section>

<section class="notes-section">
<h2>Boil Notes</h2>
<ul>
  <li>Pre Boil Volume (gallons):
    <%= round_or_nil(@brew_note.boil_note.pre_boil_volume_gallons, 2) %></li>
  <li>Post Boil Volume (gallons):
    <%= round_or_nil(@brew_note.boil_note.post_boil_volume_gallons, 2) %></li>
</ul>
</section>

<section class="notes-section">
<div class="editable-ul-container">
<%= render partial: "fermentation_note",
           locals: { fermentation_note: @brew_note.fermentation_note } %>
</div>
</section>

<a name="fermentation_checks" class="anchor"></a>

<section class="notes-section">
<div class="editable-table-container">

<%= render "fermentation_checks" %>

</div>
</section>

<a name="bottling_notes" class="anchor"></a>

<section class="notes-section">
<div class="bottling-notes">
  <%= render partial: "bottling_note",
             locals: { bottling_note: @brew_note.bottling_note }%>

</div>
</section>

<section class="notes-section">
<a name="tasting_notes" class="anchor"></a>

<div class="tasting-notes">
  <h2>Tasting Notes</h2>
  <% unless @brew_note.tasting_notes.empty? %>
    <h3>(click to view detials)</h3>
    <ul class="group">
      <% @brew_note.tasting_notes.each do |tasting_note| %>
        <li class="group">
          <a href="<%= tasting_note_url(tasting_note) %>">
            <%= clean_date(tasting_note) %>
            <div class="figure-container">
              <figure>
                <%= render partial: "tasting_notes/wheel_thumbnail",
                           locals: { tasting_note: tasting_note} %>
              </figure>
            </div>
          </a>
        </li>
      <% end %>
    </ul>
  <% end %>

<% if current_user.brew_notes.include?(@brew_note) %>
<%= link_to "Add new tasting note",
    new_brew_note_tasting_note_url(@brew_note.id), class:"button" %>
<% end %>
</div>
</section>

<% if @brew_note.beer_photo_file_name %>
  <h2>Photo</h2>
  <figure class="beer-photo">
    <%= image_tag @brew_note.beer_photo.url(:big) %>
  </figure>
<% end %>

<% if current_user.brew_notes.include?(@brew_note) %>
<%= link_to "Edit Brew Note", edit_brew_note_url(@brew_note), id: "edit-note", class: "button" %>
<% end %>
</div>


<script>

$(function(){
  EditableTable.init();

  $(".editable-ul-container").on("ajax:success", ".edit-fermentation-note",function(event, data){
    $(".editable-ul-container").html(data);
  });

  $(".editable-ul-container").on("ajax:success", "#fermentation-note", function(event, data){
    $(".editable-ul-container").html(data);
  });

  $(".bottling-notes").on("ajax:success", ".edit-bottling-note", function(event, data){
    $(".bottling-notes").html(data);
  });

  $(".bottling-notes").on("ajax:success", "#bottling-note", function(event, data){
    $(".bottling-notes").html(data);
  });


})

</script>