<div id="show-brew-note">
<h1>BREW NOTE FOR <%= link_to @brew_note.recipe.name, @brew_note.recipe %></h1>
<p><%= @brew_note.body %></p>
<h2>Mash Notes</h2>
<table class="mash-notes">
  <thead>
    <tr>
      <th>Time</th><th>Temperature</th><th>Note</th>
    </tr>
  </thead>
  <tbody>
  <% @brew_note.mash_notes.each do |mash_note| %>
    <tr>
      <td><%= mash_note.time %></td>
      <td><%= mash_note.temperature %></td>
      <td><%= mash_note.body %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<h2>Boil Notes</h2>
<ul>
  <li>Pre Boil Volume: <%= @brew_note.boil_note.pre_boil_volume %></li>
  <li>Post Boil Volume: <%= @brew_note.boil_note.post_boil_volume %></li>
</ul>

<h2>Fermentation Notes</h2>
<ul>
  <li>Volume in Fermenter: <%= @brew_note.fermentation_note.volume %></li>
  <li>Measured Original Gravity: <%= @brew_note.fermentation_note.og %></li>
  <li>Measured Final Gravity: <%= @brew_note.fermentation_note.fg %></li>
  <li>General Note: <%= @brew_note.fermentation_note.body %>
</ul>
<div id="fermentation-check-list">
<h2>Fermentation Checks</h2>
<table class="fermentation-checks">
  <thead>
    <tr>
      <th>Elapsed Time</th>
      <th>Temperature</th>
      <th>Specific Gravity</th>
      <th>Note</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @brew_note.fermentation_note.fermentation_checks.each do |check| %>
      <tr>
        <td><%= check.elapsed_time %></td>
        <td><%= check.temperature %></td>
        <td><%= check.specific_gravity %></td>
        <td><%= check.body %></td>
        <td><button>Edit check</button></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<div id="fermentation-check-row">
</div>
<%= form_for @brew_note.fermentation_note.fermentation_checks.new,
    remote: true do |f| %>
      <input type="hidden" name="fermentation_check[fermentation_note_id]"
      value="<%= @brew_note.fermentation_note.id %>">
<%= f.submit "Add fermentation check" %>

<% end %>
<h2>Bottling Notes</h2>
<ul>
  <li>Amount bottled: <%= @brew_note.bottling_note.volume %></li>
  <li>Priming Sugar Type: <%= @brew_note.bottling_note.priming_sugar_type %></li>
  <li>Priming Sugar Amount: <%= @brew_note.bottling_note.priming_sugar_amount %></li>
  <li>General Note: <%= @brew_note.bottling_note.body %></li>
</ul>

<% if @brew_note.beer_photo_file_name %>
  <h2>Photo</h2>
  <figure class="beer-photo"><%= image_tag @brew_note.beer_photo.url(:big) %></figure>
<% end %>

<%= link_to "Edit Brew Note", edit_brew_note_url(@brew_note), id: "edit-note" %>

</div>


<script>

$(function(){

  $("#new_fermentation_check").on("ajax:success", function(event, data){
    $("#fermentation-check-row").append(data)
  })

  $("#fermentation-check-row").on("ajax:success", ".fermentation-check-update", function(event, data){
    console.log(data)
    $(".fermentation-checks").append(data)
  })

})

</script>