<style>
#recipe-<%= recipe.id %>{
  background: url("/beer_pictures/<%= rand(8) + 1 %>.png") no-repeat;
  background-size: cover;
}
</style>

<li class="recipe-tile" id="recipe-<%= recipe.id %>">
  <a class="group" href="<%= recipe_url(recipe) %>">
    <h2><%= recipe.name %></h2>
    <h3>By <%= recipe.user.username %></h3>
  </a>
</li>