<div id="recipes-index">
  <div id="search-field">
    <%= form_tag recipes_url, method: "get", remote: true do %>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", name: nil %>
    <% end %>
  </div>
  <div id="recipe-list">
    <h1>All Recipes</h1>
    <%= paginate @recipes %>
    <ul class="recipe-tiles group">
      <%= render @recipes %>
    </ul>
    <%= paginate @recipes %>
  </div>
</div>

<script>
$(function(){
  $("#search-field").on("ajax:success", function(event, data){
    $(event.target).removeClass("ajax-waiting")
    $("#recipe-list").html(data)  
  })
  
  $("#search-field").on("ajax:before", function(event, data){
    $(event.target).addClass("ajax-waiting")
  })  
})


</script>