<header>
  <p class="explainer">Welcome to Better Brewing!</p>
  <p class="explainer">To get started, select a recipe below, or <%= link_to "upload your own", new_recipe_url %>.</p>
  <p class="explainer">Start brewing better beer!</p>
</header>

<div id="recipes-index">
  <div id="search-field">
    <%= form_tag recipes_search_url, method: "get", remote: true do %>
      <%= text_field_tag :search, params[:search] %>
      <input type="submit" value="Search">
    <% end %>
  </div>
  <div id="recipe-list">
    <h1>All Recipes</h1>
    <%= paginate @recipes, remote: true %>
    <ul class="recipe-tiles group">
      <%= render @recipes %>
    </ul>
    <%= paginate @recipes, remote: true %>
  </div>
</div>

<script>
$(function(){

  var timer = null

  $("#search-field").on("ajax:success", function(event, data){
    $(event.target).removeClass("ajax-waiting")
    $("#recipe-list").html(data)
  })

  $("#search-field").on("ajax:error", function(event, xhr, status, error){
    $(event.target).removeClass("ajax-waiting")
  })

  $("#search-field").on("ajax:before", function(event, data){
    $(event.target).addClass("ajax-waiting")
  })

  $("#search-field").on("keyup", function(){
    if (timer) {
      window.clearTimeout(timer);
    }
    timer = window.setTimeout( function(){
      timer = null;
      $("#search-field form").submit();
    }, 300 );
  });

  $("#recipes-index").on("ajax:success", ".pagination", function(event, data){
    $("#recipe-list").html(data)
  })

})


</script>