<div id="recipes-index">
  <div id="search-field">
    <%= form_tag recipes_url, method: "get", remote: true do %>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", name: nil %>
    <% end %>
  </div>
  <div id="recipe-list">
    <h1>All Recipes</h1>
    <%= paginate @recipes %>
    <ul class="recipe-tiles group">
      <%= render @recipes %>
    </ul>
    <%= paginate @recipes %>
  </div>
</div>

<script>
$(function(){
  
  var timer = null
  
  $("#search-field").on("ajax:success", function(event, data){
    $(event.target).removeClass("ajax-waiting")
    console.log("searched")
    $("#recipe-list").html(data)  
  })
  
  $("#search-field").on("ajax:error", function(event, xhr, status, error){
    $(event.target).removeClass("ajax-waiting")
    console.log("ERROR ERROR")
    console.log(event)
    console.log(error)
    console.log(status)
    console.log(xhr.responseText)
  })
  
  $("#search-field").on("ajax:before", function(event, data){
    $(event.target).addClass("ajax-waiting")
  })  
  
  $("#search-field").on("keyup", function(){
    if (timer) {
      window.clearTimeout(timer);
    }
    timer = window.setTimeout( function(){
      timer = null;
      console.log("form was submitted")
      $("#search-field form").submit();
    }, 400 );
  });  
  
})


</script>