<div id="new-tasting-note">

<h1>WELCOME TO TASTING NOTES FOR <%= @tasting_note.brew_note.recipe.name %></h1>

<%= form_for @tasting_note, url: brew_note_tasting_notes_url(@tasting_note.brew_note.id) do |f| %>

<% @tasting_note.flavor_attribute_names.each do |name| %>
  <label for="<%= name %>" class="flavor-label"><%= name.gsub("_", " ") %></label>
  <input type="number" id="<%= name %>" class="flavor-input"
   name="tasting_note[<%= name %>]" min="0" max="5" value="0">
<% end %>

<select class="chosen-menu" name="tasting_note[consumption_vessel_id]">
  <option value=""></option>
  <% ConsumptionVessel.all.each do |vessel| %>
    <option value="vessel.id"><%= vessel.name %></option>
  <% end %>
</select>

<%= f.submit %>
<% end %>

</div>
<script>
$(function(){
  $(".chosen-menu").chosen({width: "200px"});

  <% selectors = @tasting_note.flavor_attribute_names.map {|name| "##{name}"} %>

  FlavorSlider.init(<%= selectors.to_json.html_safe %>)

  // var input = $( "#alcohol" );
  //
  // var slider = $( "<div id='alcohol-slider'></div>" ).insertAfter( input ).slider({
  //   min: 1,
  //   max: 6,
  //   range: "min",
  //   value: input.val(),
  //   slide: function( event, ui ) {
  //     input.val(ui.value - 1);
  //   }
  // });
  //
  // $( "#alcohol").on("change", function() {
  //   console.log("fired")
  //   $(this).val(parseInt($(this).val() || 0));
  //   slider.slider( "value", parseInt($(this).val()) + 1 );
  // });
  //
  // $( "#alcohol").on("keyup", function() {
  //   slider.slider( "value", parseInt($(this).val() || 0) + 1 );
  // });

})
</script>