<div id="tasting-note-show" class="group">
  <header>
    <h1>Tasting Note for <%= link_to @tasting_note.brew_note.recipe.name,
                                     @tasting_note.brew_note.recipe, 
                                     class: "inline-link" %>
    </h1>
      <a href="<%= brew_note_url(@tasting_note.brew_note, anchor: "tasting_notes") %>"
        class="back-to button"><i class="icon-long-arrow-left"></i> Back to brew note</a>
  </header>
  <h2>Overall Rating: <%= @tasting_note.rating %></h2>

  <div class="chart-container">
  <%= render partial: "flavor_wheel", locals: {tasting_note: @tasting_note} %>
  </div>

  <div class="serving">
    <h2>Serving:</h2>
    <ul>
      <li>Poured from:
        <%= @tasting_note.serving_vessel.name if @tasting_note.serving_vessel%>
      </li>
      <li>Drank from:
        <%= @tasting_note.consumption_vessel.name if @tasting_note.consumption_vessel%>
      </li>
    </ul>
  </div>

  <div class="notes">
  <h2>Notes:</h2>
  <ul>
    <% %w(appearance aroma flavor misc).each do |note| %>
      <li><%= note.capitalize %>: <%= @tasting_note.send(note) %></li>
    <% end %>
  </ul>
  </div>

  <% if current_user.brew_notes.include?(@tasting_note.brew_note) %>
  <div class="buttons">
    <%= link_to "Edit tasting note", edit_tasting_note_url(@tasting_note), class: "button" %>
    <%= button_to "Destroy tasting note", tasting_note_url(@tasting_note),
                  method: "delete", class: "button destroy" %>
  </div>
    <% end %>
</div>