<div class="top">
  <header class="main-header group">
    <figure class="decal"><%= image_tag "bottles.png" %></figure>
    <figure class="main-logo"><%= image_tag "logo.png" %></figure>
    <nav>
      <ul>
        <% if user_signed_in? %>
          <li class="account-dropdown">
            <%= link_to "My Account", edit_user_registration_url %>
            <ul class="hidden-menu">
              <li><%= link_to "My Recipes", current_user %></li>
              <li><%= link_to "My Brew Notes", brew_notes_url %>
              <li><a href="#">My Tasting Notes</a></li>
              <li>
                <%= button_to "Sign Out", destroy_user_session_url,
                    method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li class="sign-in-button">
            <%= link_to "Sign In", new_user_session_url %>
          </li>
        <% end %>
      </ul>
    </nav>
  </header>
</div>