<!DOCTYPE html>
<html>
<head>
  <title>BetterBrewing</title>
  <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700,300italic,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- Header -->

<%= render "layouts/header" %>

<div class="main-body group">

<!-- Sidebar -->

<%= render "layouts/sidebar" %>

<!-- Main content -->

  <div class="main-content group">
    <!-- Alerts -->
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </div>

  <!-- Footer -->
  <%= render"layouts/footer"  %>

</div>
</body>
</html>
